* {
  box-sizing: border-box;
}

input {
  width: 30%;
  padding: 1px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}



button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}