* {
    box-sizing: border-box;
}

.main {
    width: 85%;
        /* margin-left: 160px; */
    /* margin-bottom: 160px; */
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    text-align: left;
}