.carousel {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 600px;
    overflow: hidden;
        /*only one img is shown*/
    /* do not display part over 600px */
}

.slide__container {
    display: inline-flex;
    white-space: nowrap;
    position: relative;
    height: 300px;
}

img {
    object-fit: cover;
    width: 600px;
    height: 600px;
    /* add some rounded corners */
        border-radius: 10px;
}