.App {
    display: flex;
}
Header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}
body {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

Sidebar {
    display: flex;
    flex: 1;
}
Routes {
    display: flex;
    flex: 3;
}

